<% c++ #include "data/admin/login.h" %>
<% skin defskin %>
<% view login uses  data::admin::login extends master %>
<% template master_content() %>
		<header id="header">

			<div id="logo-group">
				<!--<span id="logo"> <img src="media/img" alt="Ineron Admin"> </span>-->
			</div>

			<span id="extr-page-header-space"> <!--<span class="hidden-mobile hidden-xs">Need an account?</span> <a href="register.html" class="btn-->

		</header>
		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-red login-header-big">Ineron Admin</h1>
						<div class="hero">

							<div class="pull-left login-desc-box-l">
								<h4 class="paragraph-header">Сommon content management system</h4>
								<!--<div class="login-app-icons">
									<a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
									<a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
								</div>-->
							</div>
							
							<img src="media/img/desctop.png" class="pull-right display-image" alt="" style="width:350px">

						</div>
						<!--
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
								</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">Not just your average template!</h5>
								<p>
									Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
								</p>
							</div>
						</div>
						-->
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
						<div class="well no-padding">
							<form action="<% url "/login" %>" method="post" id="login-form" class="smart-form client-form"><% csrf %>
								<header>
									<% gt "Sign In" %>
								</header>

								<fieldset>
									
									<section>
										<label class="label"><% gt "E-mail" %></label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<!--<input type="email" name="email">-->
											<% form input loginForm.email %>
											<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
									</section>

									<section>
										<label class="label"><% gt "Password" %></label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
											<!--<input type="password" name="password">-->
											<% form input loginForm.password %>
											<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
										<div class="note">
											<a href="<% url "/forgotpassword" %> "><% gt "Forgot password?" %></a>
										</div>
									</section>

									<section>
										<label class="checkbox">
											<!--<input type="checkbox" name="remember" checked="">-->
											<% form input loginForm.remember %>
											<i></i><% gt "Stay signed in" %></label>
									</section>
								</fieldset>
								<footer>
									<% form begin loginForm.submit %>class="btn btn-primary" <% form end loginForm.submit %>
									<!--<button type="submit" class="btn btn-primary">
										Sign in
									</button>-->
								</footer>
							</form>

						</div>
						<!--
						<h5 class="text-center"> - Or sign in using -</h5>
															
							<ul class="list-inline text-center">
								<li>
									<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
								</li>
							</ul>
						-->
					</div>
				</div>
			</div>

		</div>

		<!--================================================== -->	

		<script type="text/javascript">
		</script>

<% end %>
<% template master_scripts() %>
<script type="text/javascript">
    $(document).ready(function() {
			runAllForms();
			
			$("html").attr("id","extr-page");
			
			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : true
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Please enter your email address',
							email : 'Please enter a VALID email address'
						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
    });
</script>
<% end %>
<% end view %>
<% end skin %>